<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-11-04T06:52:41Z</date>
	<key>WorkspacePath</key>
	<string>/Users/wanghanqi/Downloads/Graphs-master/曲线图/曲线图.xcodeproj</string>
</dict>
</plist>
